__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.venv
.git/
.gitignore
Dockerfile
readme.md
__pycache__/
config/__pycache__/
models/__pycache__/
routers/__pycache__/
structure/__pycache__/
testing/__pycache__/
